<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>NutzSite管理系统</title>
    <meta name="keywords" content="NutzSite,NutzSite开源,NutzSite框架,NutzSite系统,NutzSite">
    <meta name="description" content="NutzSite基于nutzboot的权限管理系统 易读易懂、界面简洁美观。 核心技术采用nutz、nutzboot、Shiro没有任何其它重度依赖">
    <link href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link href="../static/assets/css/login.min.css" th:href="@{/assets/css/login.min.css}" rel="stylesheet"/>
    <link href="../static/assets/css/ui.css" th:href="@{/assets/css/ui.css}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <style type="text/css">label.error {
        position: inherit;
    }</style>
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
        ;
    </script>
</head>

<body class="signin">

<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1><img alt="[ NutzSite ]" src="../static/nutzsite.png" th:src="@{/nutzsite.png}"></h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>NutzSite 后台管理系统</strong></h4>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Nutzboot</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Shiro</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Thymeleaf</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> Bootstrap</li>
                </ul>
                <strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>
            </div>
        </div>
        <div class="col-sm-5">
            <form id="signupForm">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">做个开发框架</p>
                <input type="hidden" name="pubkey" class="form-control uname" placeholder="pubKey" th:value="${pubkey}"/>
                <input type="text" name="username" class="form-control uname" placeholder="用户名" value="admin"/>
                <input type="password" name="password" class="form-control pword" placeholder="密码" value="123456"/>
                <div class="row m-t" th:if="${captchaEnabled==true}">
                    <div class="col-xs-6">
                        <input type="text" name="validateCode" class="form-control code" placeholder="验证码"
                               maxlength="5">
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:void(0);" title="点击更换验证码">
                            <img th:src="@{captcha/next}" class="imgcode" width="85%" height="34px"/>
                        </a>
                    </div>
                </div>
                <div class="checkbox-custom">
                    <input type="checkbox" id="rememberme" name="rememberme"> <label for="rememberme">记住我</label>
                </div>
                <button class="btn btn-success btn-block" id="btnSubmit" data-loading="正在验证登录，请稍后...">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2018 All Rights Reserved. NutzSite <br>
            <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">备案号</a><br>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var ctx = [[${AppBase}]];
    // console.log(ctx);
</script>
<!-- 全局js -->
<script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../static/assets/plugins/validate/jquery.validate.min.js"
        th:src="@{/assets/plugins/validate/jquery.validate.min.js}"></script>
<script src="../static/assets/plugins/validate/messages_zh.min.js"
        th:src="@{/assets/plugins/validate/messages_zh.min.js}"></script>
<script src="../static/assets/plugins/layer/layer.min.js" th:src="@{/assets/plugins/layer/layer.min.js}"></script>
<script src="../static/assets/plugins/blockUI/jquery.blockUI.js"
        th:src="@{/assets/plugins/blockUI/jquery.blockUI.js}"></script>
<script src="../static/assets/js/ui.js" th:src="@{/assets/js/ui.js}"></script>

<script src="../static/assets/plugins/jsencrypt/jsencrypt.min.js" th:src="@{/assets/plugins/jsencrypt/jsencrypt.min.js}"></script>
<script src="../static/assets/js/login.js" th:src="@{/assets/js/login.js}"></script>
</body>
</html>
