<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:max-width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../assets/css/main/animate.min.css" th:href="@{/assets/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../assets/css/main/style.min862f.css" th:href="@{/assets/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-sm-5">
        <h2>NutzSite后台管理框架</h2>
        <p>一直想做一款后台管理系统，看了很多优秀的开源项目但是发现没有合适自己的。于是利用空闲休息时间开始自己写一套后台系统。如此有了NutzSite管理系统。
            <b>网站管理后台</b>
            系统会陆续更新一些实用功能。</p>
        <p>
            <b>当前版本：</b><span th:text="${obj.version}"></span>
        </p>
        <p>
            <span class="label label-warning">&yen;本项目完全开源，商用完全免费。但请勿侵犯作者合法权益，如申请软著等。</span>
        </p>
        <br>
        <p>
            <a class="btn btn-success btn-outline" href="https://gitee.com/TomYule/NutzSite" target="_blank">
                <i class="fa fa-cloud"> </i> 访问码云
            </a>
        </p>
    </div>
    <div class="col-sm-4">
        <h4>技术选型：</h4>
        <ol>
            <li>核心框架：NutzBoot。</li>
            <li>安全框架：Apache Shiro。</li>
            <li>模板引擎：Thymeleaf。</li>
            <li>缓存：Caffeine。</li>
            <li>定时任务:Quartz。</li>
            <li>数据库连接池：Druid。</li>
            <li>工具类：Fastjson。</li>
            <li>更多……</li>
        </ol>
    </div>

</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-4">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联系信息</h5>
                </div>
                <div class="ibox-content">
                    我使用的时候如果出现问题怎么办？
                    <p>
                        <i class="fa fa-send-o"></i>
                        <a href="http://qun.qq.com/#jointhegroup/gid/68428921" target="_blank">
                            Nutz社区群（68428921）超级群
                        </a>
                    </p>
                    <p>
                        上 <a href="https://nutz.cn/" target="_blank">Nutz社区论坛</a>，有问必答，秒回复
                    </p>
                    <p>
                        到 <a href="https://github.com/TomYule/NutzSite/issues" target="_blank">
                        github
                    </a>（<a href="https://gitee.com/TomYule/NutzSite/issues" target="_blank">Git@OSC</a>）上报告 issue
                    </p>
                    <p>
                        鸣谢:&nbsp; <a href="https://github.com/wendal" target="_blank">@wendal</a>
                        (代码贡献者,技术大牛,Nutz主要作者,无所不知且乐于助人)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>更新日志</h5>
                </div>
                <div class="ibox-content no-padding">
                    <div class="panel-body">
                        <div class="panel-group" id="version">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v04">v1.1</a>
                                        <code class="pull-right">2020-02-21</code>
                                    </h5>
                                </div>
                                <!-- 展开加 in  panel-collapse collapse in -->
                                <div id="v11" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ol>
                                            <li>更新:登录 刷新</li>
                                            <li>更新:所有service调整为interface 形式,方便拓展分布式</li>
                                            <li>修复:修复导出Excel异常问题,地图搜索优化,登录超时时间调整</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v04">v1.0.4</a>
                                        <code class="pull-right">2019-12-25</code>
                                    </h5>
                                </div>
                                <div id="v04" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ol>
                                            <li>新增RSA加密,登录密码RSA加密,每次启动重新生成密钥</li>
                                            <li>新增nutz-plugins-validation 数据校验 服务端校验</li>
                                            <li>新增 bootstrap-select 下拉选项 搜索</li>
                                            <li>新增 生成代码预览</li>
                                            <li>新增 关联查询列表查询改用queryByJoin效率更高</li>
                                            <li>修复若干BUG</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v03">v1.0.3</a>
                                        <code class="pull-right">2019-10-10</code>
                                    </h5>
                                </div>
                                <div id="v03" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ol>
                                            <li>新增Redis支持</li>
                                            <li>添加验证码</li>
                                            <li>修复thymeleaf 热更新问题处理</li>
                                            <li>新增Globals 读取配置文件</li>
                                            <li>更新:动作链调整至 MyActionChainMaker 加入 SQL 注入过滤 XSS过滤</li>
                                            <li>修复若干BUG</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v02">v1.0.2</a>
                                        <code class="pull-right">2019-06-13</code>
                                    </h5>
                                </div>
                                <div id="v02" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ol>
                                            <li>新增CMS 内容发布</li>
                                            <li>微信模块增加功能:同步素材</li>
                                            <li>菜单,角色, 使用缓存Caffeine</li>
                                            <li>修复若干BUG</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v01">v1.0.1</a>
                                        <code class="pull-right">2019-05-17</code>
                                    </h4>
                                </div>
                                <div id="v01" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ol>
                                            <li>Quartz 定时任务</li>
                                            <li>SLog日志记录</li>
                                            <li>防XSS攻击过滤 SQL注入过滤</li>
                                            <li>支付宝</li>
                                            <li>阿里云消息推送</li>
                                            <li>阿里云短信</li>
                                            <li>高德地图</li>
                                            <li>七牛云</li>
                                            <li>微信公众平台</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v00">v1.0.0</a><code
                                            class="pull-right">2019-04-26</code>
                                    </h4>
                                </div>
                                <div id="v00" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ol>
                                            <li>NutzSite管理系统正式发布。</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>捐赠</h5>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-warning">
                        请作者喝杯咖啡。
                    </div>
                    <p id="pay-qrcode">
                        <a href="javascript:;"><img th:src="@{/assets/img/pay.jpg}" width="100%" max-width:460px alt="请使用手机支付宝或者微信扫码支付">
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
</body>
</html>
