<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-dept-edit" >
			<input  type="hidden" id="id" name="id" th:value="${dept.id}" />
			<input id="treeId" name="parentId" type="hidden"th:value="${dept.parentId}" />
			<div class="form-group">
				<label class="col-sm-3 control-label ">上级部门：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="treeName" onclick="selectDeptTree()" readonly="true"th:value="${dept.parentName}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">部门名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="deptName"th:value="${dept.deptName}" id="deptName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">显示排序：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="orderNum" th:value="${dept.orderNum}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">负责人：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="leader"th:value="${dept.leader}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">联系电话：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="phone"th:value="${dept.phone}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">邮箱：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="email"th:value="${dept.email}">
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">部门状态：</label>
                <div class="col-sm-8">
                    <label class="radio-box"> <input type="radio" name="status" value="false" th:checked="${!dept.status}" /> 正常 </label>
                    <label class="radio-box"> <input type="radio" name="status" value="true"  th:checked="${dept.status}"/> 停用 </label>
                </div>
            </div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "sys/dept";
		
		$("#form-dept-edit").validate({
			onkeyup: false,
			rules:{
				deptName:{
					required:true,
					remote: {
		                url: prefix + "/checkDeptNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"id": function() {
		                        return $("#id").val();
		                    },
		                    "parentId": function() {
		                        return $("input[name='parentId']").val();
		                    },
		        			"name": function() {
		                        return $.common.trim($("#deptName").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return data;
		                }
		            }
				},
				orderNum:{
					required:true,
					digits:true
				},
				email:{
                    email:true,
        		},
        		phone:{
        			isPhone:true,
        		},
			},
			messages: {
		        "deptName": {
		            remote: "部门已经存在"
		        }
		    }
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/editDo", $('#form-dept-edit').serialize());
	        }
	    }
	
		/*部门管理-修改-选择部门树*/
		function selectDeptTree() {
			var deptId = $("#treeId").val();
			var options = {
				title: '部门选择',
				width: "380",
				url: prefix + "/selectTree/" + $("#treeId").val(),
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			// if ($.tree.notAllowLastLevel(tree)) {
			//
			// }
			var body = layer.getChildFrame('body', index);
			$("#treeId").val(body.find('#treeId').val());
			$("#treeName").val(body.find('#treeName').val());
			layer.close(index);
		}
	</script>
</body>
</html>
