<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-${classname}-add">
        <input id="${primaryKey.attrname}" name="${primaryKey.attrname}"
               th:value="${${classname}.${primaryKey.attrname}}" type="hidden">
        <input id="parentId" name="parentId" type="hidden" th:value="${${classname}.parentId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label ">上级：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="treeName" onclick="selectTree()" readonly="true"
                       th:value="${${classname}.parentName}"/>
            </div>
        </div>
#foreach($column in $columns)
#if($column.columnName != $primaryKey.columnName && 'parentId'!=$column.columnName &&
'ancestors'!=$column.columnName)
#if(!${column.configInfo})
    #if(${column.dataType} == "date"|| ${column.dataType} == "datetime")
        <div class="form-group">
            <label class="col-sm-3 control-label">${column.columnComment}：</label>
            <div class="col-sm-8">
                <input id="${column.attrname}" name="${column.attrname}" class="form-control time-input"
                       type="text">
            </div>
        </div>
    #elseif(${column.dataType} == "dict")
        <div class="form-group">
            <label class="col-sm-3 control-label">${column.columnComment}：</label>
            <div class="col-sm-8">
                <select name="${column.attrname}" class="form-control m-b"
                        th:with="type=${@dict.getType('${column.configInfo.value}')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    #elseif(${column.dataType} == "char" )
        <div class="form-group">
            <label class="col-sm-3 control-label">${column.columnComment}：</label>
            <div class="col-sm-8">
                <!--<input id="${column.attrname}"  name="${column.attrname}" class="form-control time-input" type="text"> -->
                <div class="onoffswitch">
                    <input type="checkbox"class="onoffswitch-checkbox" id="${column.attrname}" name="${column.attrname}">
                    <label class="onoffswitch-label" for="${column.attrname}">
                        <span class="onoffswitch-switch"></span>
                        <span class="onoffswitch-inner"></span>
                    </label>
                </div>
            </div>
        </div>
    #else
        <div class="form-group">
            <label class="col-sm-3 control-label">${column.columnComment}：</label>
            <div class="col-sm-8">
                <input id="${column.attrname}" name="${column.attrname}" class="form-control"
                       type="text">
            </div>
        </div>
    #end

#end
#end
#end
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "${moduleName}/${classname}"
    $("#form-${classname}-add").validate({
        onkeyup: false,
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/addDo", $('#form-${classname}-add').serialize());
        }
    }

    function selectTree() {
        var ${primaryKey.attrname} =
        $("#treeId").val();
        var options = {
            title: '选择上级',
            width: "380",
            url: prefix + "/selectTree/" + $("#treeId").val(),
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        // 不允许最后层级节点选择
        // if ($.tree.notAllowLastLevel(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#parentId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        // }
    }
</script>
</body>
</html>
