<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-master-add">
			<div class="form-group">
			<label class="col-sm-3 control-label">：</label>
			<div class="col-sm-8">
				<input id="name" name="name" class="form-control" type="text">
			</div>
		</div>
	
	</form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
	var prefix = ctx + "test/master"
	$("#form-master-add").validate({
		onkeyup: false,
		rules:{
			xxxx:{
				required:true,
			},
		}
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/addDo", $('#form-master-add').serialize());
		}
	}
</script>
</body>
</html>
